[diff]
	tool = vscode
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[difftool "vscode"]
	cmd = code --wait --diff \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = vscode
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
[mergetool "vscode"]
	cmd = code --wait $MERGED
[mergetool "meld"]
	cmd = meld \"$MERGED\" \"$LOCAL\" \"$REMOTE\"
[alias]
	mk = !bash -c 'source $HOME/.bash_aliases && g_mk \"$@\"' g_mk
	ls = !bash -c 'source $HOME/.bash_aliases && g_ls'
	cd = !bash -c 'source $HOME/.bash_aliases && g_cd \"$@\"' g_cd
	del = !bash -c 'source $HOME/.bash_aliases && g_del \"$@\"' g_del
	up = !bash -c 'source $HOME/.bash_aliases && g_up'
	sync = !bash -c 'source $HOME/.bash_aliases && g_sync'
	scan = !bash -c 'source $HOME/.bash_aliases && g_scan'
	prune = !bash -c 'source $HOME/.bash_aliases && g_prune'
	amend = !bash -c 'source $HOME/.bash_aliases && g_amend'
[user]
	name = ${GIT_USER_NAME}
	email = ${GIT_USER_EMAIL}
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = main
