name: CI update

on:
  schedule:
    - cron: "17 3 * * *"
  workflow_dispatch:

jobs:
  ci-update:
    permissions:
      contents: write
      pull-requests: write
      actions: write
    uses: athackst/ci/.github/workflows/ci_updater.yml@main
    with:
      create-pr: true
      push-changes: true
      automerge: true
    secrets:
      token: ${{ secrets.CI_BOT_TOKEN }}
