name: Release Draft

on:
  push:
    branches: [main]

jobs:
  release-draft:
    permissions:
      contents: write
      pull-requests: read
    uses: athackst/ci/.github/workflows/release_drafter.yml@main
    secrets: inherit
