name: test

on:
  push:
    branches:
      - main
  workflow_dispatch:
  pull_request:


jobs:
  dotfiles:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install dotfiles
        run: |
          ./install.sh

  complete:
    needs:
      - dotfiles
    runs-on: ubuntu-latest
    steps:
      - name: Check
        run: echo "Completed successfully!"
